@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100vw;
    height: 100vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: blue url('../imagens/fundo-madeira.jpg') right top no-repeat fixed;
    background-size: cover;
}

iframe {
    width: 100vw;
    height: 100vw;
}